<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDrqQ97UgJZgX9S7XaRY9rNylAfqG7TyQw</string>
	<key>GCM_SENDER_ID</key>
	<string>490202768187</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mflutterapps.bedtimestories.bedtimeStories.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>dreamy-tales</string>
	<key>STORAGE_BUCKET</key>
	<string>dreamy-tales.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:490202768187:ios:54aa73f800e29e51180d1e</string>
</dict>
</plist>